@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Rubik+Distressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Rubik+Distressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Rubik+Distressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Rubik+Distressed&display=swap");
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body header {
  display: flex;
  justify-content: space-between;
}
* {
  font-family: "league spartan";
  color: black;
  font-size: 30px;
}
* h1 {
  font-size: 50px;
  font-weight: 600;
}
* p {
  font-size: 20px;
}

body {
  background-image: url("../images/background.png");
}

main #pageco {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
main #pageco .divco {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 504px;
  height: 450px;
  background-color: #f0cd8c;
  border-radius: 27px;
  text-align: center;
  border: solid 3px #f4a159;
}
main #pageco .divco .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
main #pageco .divco .form #inputEmail {
  height: 1.7rem;
  width: 447px;
  background-color: #f7dfae;
  border: 3px solid #cab673;
  border-radius: 19px;
}
main #pageco .divco .form #inputMdp {
  height: 1.7rem;
  width: 447px;
  background-color: #f7dfae;
  border: 3px solid #cab673;
  border-radius: 19px;
}
main #pageco .divco .form .divcheck {
  display: flex;
  gap: 10px;
}
main #pageco .divco .form .btnco {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57px;
  width: 203px;
  border: none;
  background-color: #e96a25;
  color: white;
  border-radius: 19px;
}
main #pageco .divco .form .btnco .seco {
  color: white;
  font-family: "League Spartan";
  font-weight: 600;
  font-size: 30px;
}

.btnaccueil {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57px;
  width: 203px;
  border: none;
  background-color: #e96a25;
  color: white;
  border-radius: 19px;
}
.btnaccueil .accueil {
  color: white;
  font-family: "League Spartan";
  font-weight: 600;
  font-size: 25px;
}

.cookie-container {
  background: linear-gradient(260deg, #9b6c50 0%, #4f2626 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  width: 30rem;
  height: 10rem;
  border-radius: 1.2rem;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  font-family: "League Spartan";
  font-style: normal;
}
.cookie-container .logo-cookie {
  width: 250px;
}
.cookie-container .text {
  width: 70%;
}
.cookie-container .text .cookie-title {
  font-size: 1.2rem;
  font-weight: bold;
}
.cookie-container .text .cookie-subtitle {
  padding: 0.5rem 0rem;
}
.cookie-container .text .button {
  border-style: none;
  padding: 0.5rem 1rem;
  color: #4f2626;
  font-size: 0.7rem;
  border-radius: 0.4rem;
  font-family: "League Spartan";
  cursor: pointer;
}

#idheader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 100px;
}
#idheader .nav {
  display: flex;
  gap: 30px;
}
#idheader .nav .navbar-titre {
  font-family: "League Spartan";
  font-size: 30px;
}
#idheader .nav .emoticone-header {
  width: 47px;
  height: 47px;
}